@model IEnumerable<Library_Management.Models.Student>

@{
    ViewData["Title"] = "StudentApproval";
}
<h1 class="alert alert-info text-center">Student Pending List</h1>
<h4 id="hide" class="text-info">@ViewBag.msg</h4>
<table class="table table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Student_Image)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Confirm_Password)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.IsApproved)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/@item.Student_Image" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Student_Image)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Confirm_Password)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                    </td>*@
                <td>
                    <form asp-action="StudentApproval" method="post">
                        <input type="hidden" name="id" asp-for="@item.Id" />
                        <button type="submit" class="btn btn-success btn-sm">Approve</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
<script>
    $(document).ready(function(){
        $("#hide").delay(3000).fadeOut('slow');
    });
</script>
}