@model Library_Managenent.Models.BookCode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Books.Book_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book_Statuss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book_Statuss.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
